h1 {
  color: blue;

}


html {
  min-height: 100%;
  /* vertical-align: middle; */
  /* background-color: green; */
  background-image: url("finalbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  ...
  position: relative;
}

.child {
  width: 75%;
  height: 75%;
  background-color: #d6cece;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
